<h2>Add Links</h2>

<form role="form" action="/add" method="post">
    <textarea name="links" placeholder="Enter links: one per line" cols=140 rows=8></textarea><br>
    <div class="center-block">
        <input type="submit" value="Submit" />
    </div>
</form>



