<h2>Find domains</h2>

<form role="form" action="/find" method="post">
    <textarea name="targets" placeholder="Enter domains: one per line" cols=140 rows=8></textarea><br>
    <div class="center-block">
        <input type="submit" value="Submit" />
    </div>
</form>