

 <div class="row" style="width: 90%;">
        <h2> History for Link {{.LinkTopic}} </h2>
        <table class="console-table table table-striped table-condensed table-bordered ">
            <thead>
                <th class="col-xs-2"> Fetched On </th>
                <th class="col-xs-1"> Robots Excluded </th>
                <th class="col-xs-1"> Status </th>
                <th class="col-xs-6"> Error </th>

            </thead>
            <tbody>
                {{range .Linfos}}
                    <tr>
                        <td> {{ftime .CrawlTime}} </td>
                        <td> {{statusText .Status}} </td>
                        <td> {{yesOnTrue .RobotsExcluded}} </td>
                        <td> {{.Error}} </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    <div>