
{{if .HasHeader}}
    <div class="row">
        <div class="col-xs-6">
            <h2> Domain information for {{.Dinfo.Domain}} </h2>
            <table class="console-table table table-striped table-condensed table-bordered ">
                <tr>
                    <th> Field </th>
                    <th> Value </th>
                </tr>
                
                <tr>
                    <td> Domain </td>
                    <td>  {{.Dinfo.Domain}} </td>
                </tr>
                
                <tr>
                    <td> ExcludeReason </td>
                    <td>  {{.Dinfo.ExcludeReason}} </td>
                </tr>
                
                <tr>
                    <td> TimeQueued </td>
                    <td>  {{ftime .Dinfo.TimeQueued}} </td>
                </tr>
                
                <tr>
                    <td> UuidOfQueued </td>
                    <td>  {{fuuid .Dinfo.UuidOfQueued}} </td>
                </tr>
                
                <tr>
                    <td> NumberLinksTotal </td>
                    <td>  {{.Dinfo.NumberLinksTotal}} </td>
                </tr>
                
                <tr>
                    <td> NumberLinksQueued </td>
                    <td>  {{.Dinfo.NumberLinksQueued}} </td>
                </tr>
            </table>
        </div>
    </div>
    <br><br><br>
{{end}}

{{if .HasLinks}}
    <div class="row" style="width: 90%;">
        <h2> Links for domain {{.Dinfo.Domain}} </h2>
        <table class="console-table table table-striped table-condensed table-bordered ">
            <thead>
                <th class="col-xs-4"> Link </th>
                <th class="col-xs-1"> Status </th>
                <th class="col-xs-1"> Error </th>
                <th class="col-xs-1"> Excluded </th>
                <th class="col-xs-2"> Fetched </th>
            </thead>
            <tbody>
                {{range $i, $linfo := .Linfos}}
                    {{$hl := index $.HistoryLinks $i}}
                    <tr>
                        <td> <a href="{{$hl}}"> {{$linfo.Url}} </a> </td>
                        <td> {{statusText $linfo.Status}} </td>
                        <td> {{yesOnFilled $linfo.Error}} </td>
                        <td> {{yesOnTrue $linfo.RobotsExcluded}} </td>
                        <td> {{ftime $linfo.CrawlTime}} </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    <div>

    <div style="width: 90%;" class="row">

        <a href="" class="col-xs-3 btn btn-info btn-large {{.PrevButtonClass}}" onclick="window.history.back()">
                  <i class="icon-white icon-backward"></i> Maybe Previous</a>

        <div class="col-xs-1"></div>

        <a href="/links/{{.Dinfo.Domain}}/{{.NextSeedUrl}}" class="col-xs-3 btn btn-info btn-large {{.NextButtonClass}}">
                  <i class="icon-white icon-forward"></i> Next </a>

    </div>

{{else}}
    <div class="row">
        <h2> No links for domain {{.Dinfo.Domain}} </h2>
    </div>
{{end}}

