
    <style type="text/css">

      .console-table {
          border: 3px solid;

          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;

          width: 60%;
          min-width: 200px;
      }
    </style>

<h2>List of Domains</h2>

<table class="console-table table table-striped table-condensed table-bordered ">
    <thead> 
      <td> Domain </td>
      <td> LinksTotal </td>
      <td> LinksQueued </td>

      <td> Excluded </td>
      <td> ActiveSince </td>
    </thead>
    <tbody>
    {{range .Domains}}
        <tr> 
          <td> <a href="/links/{{.Domain}}"> {{.Domain}} </a> </td>
          <td> {{.NumberLinksTotal}} </td>
          <td> {{.NumberLinksQueued}} </td>

          <td> {{yesOnFilled .ExcludeReason}} </td>
          <td> {{activeSince .TimeQueued}}
        </tr>
    {{end}}
    </tbody>
</table>

{{if .NeedPrev}}
    <a href="" class="btn btn-info btn-large" onclick="window.history.back()" style="width: 200px;"><i class="icon-white icon-backward"></i> Maybe Previous</a>
    <!-- <a href="" onclick="window.history.back()"> <h3> MaybePrevious </h3> </a> -->
{{end}}
{{if .HasNext}}
    <a href="/list/{{.Next}}" class="btn btn-info btn-large" style="width: 200px;"><i class="icon-white icon-forward"></i> Next </a>

    <!-- <a href="/list/{{.Next}}"> <h3> Next </h3> </a> -->
{{end}}

