
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2pt;
    padding-top: 2pt;
}
/*Center columns after the first*/
td + td {
    text-align: center;
}
</style>


<h2>List of Domains</h2>
<table>
    <thead> 
      <td> Domain </td>
      <td> LinksTotal </td>
      <td> LinksQueued </td>

      <td> Excluded </td>
      <td> ActiveSince </td>
    </thead>

    {{range .Domains}}
        <tr> 
          <td> <a href="/links/{{.Domain}}"> {{.Domain}} </a> </td>
          <td> {{.NumberLinksTotal}} </td>
          <td> {{.NumberLinksQueued}} </td>

          <td> {{yesOnFilled .ExcludeReason}} </td>
          <td> {{activeSince .TimeQueued}}
        </tr>
    {{end}}
</table>

{{if .NeedPrev}}
    <a href="" onclick="window.history.back()"> <h3> MaybePrevious </h3> </a>
{{end}}
{{if .HasNext}}
    <a href="/list/{{.Next}}"> <h3> Next </h3> </a>
{{end}}

