
.console-table {
    border: 3px solid;


}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: wheat;
}

.error-li {
    color: red;
    font-size: 150%;
}

.info-li {
    color: blue;
    font-size: 150%;   
}